    <div class="pure-u" id="list">
        <div class="content">

            <div class="email-item pure-g {{summary.style}}"
                 ng-repeat="summary in summaries"
                 ng-class="{'email-item-selected': summary.id == selected.id,
                            'email-item-unread' : summary.unread }">
                <div class="pure-u-3-4" ng-click="selectMessage(summary)">
                    <h5 class="email-name">{{summary.from}}</h5>
                    <h4 class="email-subject">{{summary.subject}}</h4>
                    <p class="email-desc">{{summary.standfirst}}</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="pure-u" id="main" ng-hide="compose">
            <div class="email-content pure-g">
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title">{{message.subject}}</h1>
                        <p class="email-content-subtitle">
                            From <a>{{message.from}}</a> at <span>{{message.date}}</span>
                        </p>
                    </div>

                    <div class="pure-u-1-2 email-content-controls">
                        <button class="pure-button secondary-button" ng-click="composeReply(message)">Reply</button>
                        <button class="pure-button secondary-button">Forward</button>
                        <button class="pure-button secondary-button">Move to</button>
                    </div>
                </div>

                <!-- TODO: find out why ng-html-bind is not working -->
                <div class="email-content-body pure-u-1" id="message-body" ng-bind-html-unsafe="message.body">
                </div>
            </div>
        </div>
    </div>

    <div class="pure-u" id="main" ng-show="compose">
            <div class="email-content pure-g">
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title">Re: {{message.subject}}</h1>
                        <p class="email-content-subtitle">
                            From <a>me</a>
                        </p>
                    </div>

                    <div class="pure-u-1-2 email-content-controls">
                        <button class="pure-button secondary-button">Cancel</button>
                        <button class="pure-button secondary-button">Send</button>
                        <button class="pure-button secondary-button">Save draft</button>
                    </div>
                </div>

                <!-- TODO: find out why ng-html-bind is not working -->
                <div class="email-content-body pure-u-1" id="message-body">
                  A text editor goes here
                </div>
            </div>
        </div>
    </div>
